#content {
    margin-top: 75px;
}

#input-files {

}

#input-files .btn {
    position: relative;
}

input[type=file].hidden-file-input {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}