#content {
    margin-top: 75px;
}

#input-files {

}

#input-files .btn {
    position: relative;
}

#input-files .btn:not(:last-of-type) {
    margin-bottom: 7px;
}

input[type=file].hidden-file-input {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.tooltip {
    text-shadow: 0px 0px black;
}

#results {
    margin-top: 15px;
}

#results .panel-body {
    font-family: monospace;
}