.navbar.navbar-inverse {
    width: 100%;
}

#input-files {

}

#input-files .btn {
    position: relative;
}

input[type=file].hidden-file-input {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}