<!DOCTYPE html>

<html>
<head>
    {% block head %}
    <title>183lint</title>
    {% endblock %}

    <!-- jQuery and Bootstrap libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.4/spin.min.js"></script>

    <!-- Custom styles and JS -->
    {% assets "scss_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="{{url_for('static', filename='functionality/scripts.js')}}"></script>

</head>
<body class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button id="navbar-menu-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu-items">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">183lint</a>
            </div>
            <div id="navbar-menu-items" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/contribute">Contribute</a></li>
                </ul>
                <p class="navbar-text navbar-right">
                    {% if username is not none %}
                        {{username}} (<a href="/logout">Logout</a>)
                    {% else %}
                        <a href="/login?next={{current}}">Login</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </nav>
    
    <div id="content">
        <!-- The main content of the page -->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>