{% extends "base.html" %}

{% block content %}
<div>
    <div class="text-center">
        <h2>Want to contribute to the code base?</h2>
        <span class="caption">Ask to be a contributor on the <a href="https://github.com/TheWolfA2/183lint" target="_blank">GitHub repository</a>.</span><br>
        <a href="https://github.com/TheWolfA2/183lint" target="_blank">
            <img class="lintImg" src="{{url_for('static', filename='presentation/183lint.png')}}" class="img-rounded"/>
        </a>
    </div><br>
    <div class="text-center">
        <h2>Found a bug?</h2>
        <span class="caption">Feel free to use report any issues using GitHub's issue tracking system <a href="https://github.com/TheWolfA2/183lint/issues" target="_blank">here</a>.</span><br>
        <a href="https://github.com/TheWolfA2/183lint/issues" target="_blank">
            <img class="lintImg" src="{{url_for('static', filename='presentation/183lintIssues.png')}}" class="img-rounded"/>
        </a>
    </div>
</div>
{% endblock %}