{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to 183lint!</h1>
        <p class="text-center">Evaluate the style of your C++ code according to the <a href="https://www.umich.edu/~eecs183/docs/style.html" target="_blank">EECS 183 standards</a></p>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div id="input-files" class="col-md-6 text-center">
            <div class="btn btn-default file-input-btn">
                <span class="filename">Choose a file...</span>
                <input class="hidden-file-input" type="file" accept=".cpp,.h">
            </div>
            <br>
            <div id="newBtn" class="btn btn-default">
                Submit another file
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div id="submit-btn" class="btn btn-primary disabled">
                Submit
            </div>
        </div>
    </div>  
</div>
{% endblock %}