{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to 183lint!</h1>
        <p class="text-center">Evaluate the style of your C++ code according to the <a href="https://www.umich.edu/~eecs183/docs/style.html" target="_blank">EECS 183 standards</a></p>
    </div>
</div>


<div class="container">
    {% if username is not none %}
        <div class="row-fluid">
            <form id="input-files" action="upload" method="post" enctype="multipart/form-data">
                <div class="btn btn-default file-input-btn col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
                    <span class="filename">Choose a file...</span>
                    <input class="hidden-file-input" type="file" accept=".cpp,.h,.cc,.c" name="files[]" multiple>
                </div>
            </form>
            <div>
                <div id="submit-btn" class="btn btn-primary disabled col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
                    Submit
                </div>
            </div>
            <div id="spinner" class="col-md-12 col-sm-12 col-xs-12"></div>
            <pre id="results" class="col-md-12 col-sm-12 col-xs-12 hidden"></pre>
        </div>  
    {% else %}
        <h2 class="text-center">Interested in submitting? Feel free to <a href="/login?next={{current}}">login</a> using your Google Account!</h2>
    {% endif %}
</div>
{% endblock %}